@{
    ViewBag.Title = "DASHBOARD";
    ViewBag.Manage = "Dashboard";
}
<div class="box box-primary">
    <div id="titleThongKe" style="font-size: 23px; text-align: center; padding-top: 16px; color:forestgreen;">
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="form-group">
                <select class="text form-control" id="OrderStatistic"
                        style="width: 100px; margin-left: auto;">
                    @for (long i = DateTime.Now.Year ; i >= DateTime.Now.Year-2; i--)
                    {
                            <option>@i</option>
                    }
                </select>
                Total Revenue: <strong class="TTotal" style="color:orangered"></strong>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>January</th>
                        <th>February</th>
                        <th>March</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>August</th>
                        <th>September</th>
                        <th>October</th>
                        <th>November</th>
                        <th>December</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="OrderStatistics">
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Monthly Revenue Report</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    <strong id="titleChart">Sales: 1 Jan, - 30 Dec, </strong>
                    <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <div class="card-body">
                            <canvas id="myChart" width="1500" height="450"></canvas>
                        </div>
                    </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- ./box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="description-block border-right">
                    <h5 class="description-header"><strong class="TTotal"></strong></h5>
                    <span class="description-text">TOTAL REVENUE</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-xs-6">
                <div class="description-block border-right">
                    <h5 class="description-header"><strong class="Tdiscount"></strong></h5>
                    <span class="description-text">TOTAL Discount</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-xs-6">
                <div class="description-block border-right">
                    <h5 class="description-header"><strong class="TRevenue"></strong></h5>
                    <span class="description-text">TOTAL PROFIT</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-footer -->
</div>
