<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Images/Cat1.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Hieu Nguyen</p>
                <a href="#"><i class="fa fa-user text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MENU</li>
            <li>
                <a href="~/Dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bars"></i>
                    <span>Catalog</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Customer"> <i class="fa fa-circle"></i>Customer</a></li>
                    <li><a href="~/Product"><i class="fa fa-circle"></i>Product</a></li>
                    <li><a href="~/Category"><i class="fa fa-circle"></i> Category</a></li>
                </ul>
            </li>
            <li>
                <a href="~/Employee">
                    <i class="fa fa-user"></i>
                    <span>Emplyee</span>
                </a>
            </li>
            <li>
                <a href="~/Order">
                    <i class="fa fa-edit"></i> <span>Order</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Reprot</span>
                </a>
            </li>
        </ul>
        <!-- /.ENd sidebar menu-->
    </section>
    <!-- /.sidebar -->
</aside>