<!-- Customer-->
<div class="box box-header">
    <form action="~/Customer" method="get">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search" name="searchValue" value="1">
            <span class="input-group-btn">
                <button onclick="return confirm('Do you really want to delete these customers?')" type="submit" class="btn btn-info btn-flat"><div class="fa fa-search"></div></button>
            </span>
        </div>
    </form>
</div>
<div class="box box-primary">
    <form action="~/Customer/Delete" method="post">
        <div class="box-body">
            <h3 style="float: right;" class="box-title">
                <button class="btn btn-danger mr-3"
                        type="submit">
                    Delete customers
                </button>
            </h3>
            <h3 style="float: right; padding-right:5px" class="box-title">
                <a class="btn btn-success mr-3"
                   href="~/Customer/Input">Add customer</a>
            </h3>
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="padding-left:18px;"><input type="checkbox" id="selectAll" /></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact info</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;width: 50px;">
                            <input type="checkbox" name="customerIDs" value="1" />
                        </td>
                        <td>1</td>
                        <td>
                            <div class="fa fa-user"></div> Hieu (<i>Dev</i>)
                            <br />
                            <div class="fa fa-university"></div> AIT
                        </td>
                        <td>
                            <div class="fa fa-address-card"></div> Hue
                            <br />
                            <div class="fa fa-address-book"></div> Thua Thien Hue
                            <br />
                            <div class="fa fa-globe"></div> Viet Nam
                        </td>
                        <td>
                            <div class="fa fa-phone"></div> 0969861254
                            <br />
                            <div class="fa fa-fax"></div> 123456
                        </td>
                        <td style="text-align: center;">
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="~/Customer/Input/1" class="btn btn-success mr-3"><i class="fa fa-edit"></i></a>
                                <a onclick="return confirm('Do you really want to delete this customer?');"
                                   class="btn btn-danger"><i class="fa fa-remove"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;width: 50px;">
                            <input type="checkbox" name="customerIDs" value="1" />
                        </td>
                        <td>1</td>
                        <td>
                            <div class="fa fa-user"></div> Hieu (<i>Dev</i>)
                            <br />
                            <div class="fa fa-university"></div> AIT
                        </td>
                        <td>
                            <div class="fa fa-address-card"></div> Hue
                            <br />
                            <div class="fa fa-address-book"></div> Thua Thien Hue
                            <br />
                            <div class="fa fa-globe"></div> Viet Nam
                        </td>
                        <td>
                            <div class="fa fa-phone"></div> 0969861254
                            <br />
                            <div class="fa fa-fax"></div> 123456
                        </td>
                        <td style="text-align: center;">
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="~/Customer/Input/1" class="btn btn-success mr-3"><i class="fa fa-edit"></i></a>
                                <a onclick="return confirm('Do you really want to delete this customer?');"
                                   class="btn btn-danger"><i class="fa fa-remove"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;width: 50px;">
                            <input type="checkbox" name="customerIDs" value="1" />
                        </td>
                        <td>1</td>
                        <td>
                            <div class="fa fa-user"></div> Hieu (<i>Dev</i>)
                            <br />
                            <div class="fa fa-university"></div> AIT
                        </td>
                        <td>
                            <div class="fa fa-address-card"></div> Hue
                            <br />
                            <div class="fa fa-address-book"></div> Thua Thien Hue
                            <br />
                            <div class="fa fa-globe"></div> Viet Nam
                        </td>
                        <td>
                            <div class="fa fa-phone"></div> 0969861254
                            <br />
                            <div class="fa fa-fax"></div> 123456
                        </td>
                        <td style="text-align: center;">
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="~/Customer/Input/1" class="btn btn-success mr-3"><i class="fa fa-edit"></i></a>
                                <a onclick="return confirm('Do you really want to delete this customer?');"
                                   class="btn btn-danger"><i class="fa fa-remove"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </form>
</div>