<!-- edit customer -->
<div class="box box-primary">
    <div class="box-header">
        <h3 style="float: right;" class="box-title">
            <a class="btn btn-primary mr-3"
               href="~/Customer">Back to list >></a>
        </h3>
    </div>
    <div class="row shadow" style="padding-top:10px;">
        <div class="col-sm-12">
            <div>
                <form method="post" action="~/Customer/Input">
                    <input type="hidden" name="method" value="" />
                    <div class="col-sm-6 disabled">
                        <div class="form-group">
                            <label>CustomerID </label><i class="text-danger"></i>
                                <input type="text"
                                       class="text form-control" placeholder="CustomerID"
                                       name="customerID" value="">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Company Name</label> <input type="text"
                                                               class="text form-control" placeholder="Company name" required
                                                               name="companyName" value="">
                        </div>
                    </div>

                    <div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Contact Name </label> <input type="text"
                                                                    class="text form-control" placeholder="Name" required
                                                                    name="contactname" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Contact title </label> <input type="text"
                                                                     class="text form-control" placeholder="Ex: Manage person" required
                                                                     name="contactTitle" value="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Country</label>
                                <select name="country" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option value="">-- Choise your country --</option>
                                            <option value="1" selected>VN</option>
                                            <option value="2">USA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>City</label>
                            <select name="city" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                <option value="">-- Choise your city --</option>
                                        <option value="" selected>Hue</option>
                                        <option value="">Ha Noi</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-12">
                            <label>Address</label> <input type="text"
                                                          class="form-control" name="address"
                                                          placeholder="Address" value="" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Phone</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                            <input type="text" class="form-control" name="phone" value="" placeholder="Phone" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Fax</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fax"></i></div>
                            <input type="text" class="form-control" name="fax" value="" placeholder="Fax" required>
                        </div>
                    </div>
                    <div class="form-group " style="float:right;padding-top:10px;padding-right:15px;">
                        <button type="submit" class="btn btn-primary mb-5" name="subAdd"><div class="fa fa-save"></div> Save</button>
                        <a href="~/Customer" class="btn btn-danger mb-5" name=""><div class="fa fa-remove"></div> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>